@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Share+Tech&family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(/styles/media.css);


:root{
    --gradient-background--: repeating-linear-gradient(rgb(10, 34, 13), rgb(71, 177, 39), rgb(10, 34, 13));
    --branco--: white;
    --preto--: black;
    --hover-link--: rgb(184, 173, 173);
    --font-link: "Montserrat", sans-serif;
    --font-tittle--: "Libre Baskerville", serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
}body{
    background-color: var(--preto--);
}
.conteudo{
    padding: 2rem;
    display: flex;
    gap: 7rem;
    border: solid darkgreen;
    border-radius: 30% 0% 30% 0%;
    box-shadow: 2px 2px 4px #63da75;
    background: linear-gradient(
        270deg,
        rgba(224, 248, 224, 0.2),
        rgba(160, 216, 160, 0.2),
        rgba(112, 192, 112, 0.2),
        rgba(64, 168, 96, 0.2),
        rgba(32, 128, 64, 0.2),
        rgba(64, 168, 96, 0.2),
        rgba(112, 192, 112, 0.2),
        rgba(160, 216, 160, 0.2),
        rgba(224, 248, 224, 0.2)
      );
       background-size: 600% 100%; /*A largura do fundo(600%) é 6 vezes maior do que o tamanho do elemento.*/
    animation: moverBackgroundVerde 5s linear infinite;
}@keyframes moverBackgroundVerde {
      0% {
        background-position: 100% 0;
      }
      100% {
        background-position: 0 0;
      }
}

.user-info-conteiner{
    text-align: center;
}
.user-info_img{
    width: 8rem;
    border-radius: 19rem;
}
.user-info_text{
    color: var(--branco--);
    font-size:large;
    font-weight: bold;
    font-family: var(--font-tittle--);
}

.links{
    padding: 0;
}

.ordenlist-link li{
    margin-bottom: 2rem;
    list-style-type: none;
    border: solid var(--preto--);
    border-radius: 5rem;
    box-shadow: 2px 2px 4px #ffffff;
    padding: 0.5rem 3rem;
    /*DEGRADE DO BACK GROUND*/
    background: linear-gradient(
      270deg,
      rgba(224, 240, 255, 0.6),
      rgba(160, 200, 240, 0.6),
      rgba(112, 176, 224, 0.6),
      rgba(64, 144, 208, 0.6),
      rgba(32, 112, 192, 0.6),
      rgba(64, 144, 208, 0.6),
      rgba(112, 176, 224, 0.6),
      rgba(160, 200, 240, 0.6),
      rgba(224, 240, 255, 0.6)
    );
    background-size: 600% 100%; /*A largura do fundo(600%) é 6 vezes maior do que o tamanho do elemento.*/
    animation: moverBackgroundAzul 4s linear infinite;
}@keyframes moverBackgroundAzul {
      0% {
        background-position: 100% 0;
      }
      100% {
        background-position: 0 0;
      }
}


.ordenlist-link li:hover{
    background-color: var(--hover-link--);
    border: solid var(--branco--);
}
.ordenlist-link a{
    text-decoration: none;
    color: var(--preto--);
    font-family: var(--font-link);
    font-weight: bold;
    font-size: small;
}.item-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.img-link{
    height: 2rem;
    width: 2rem;
}.img-link3{
    height: 2.5rem;
}

.redesociais{
    display: flex;
    justify-content: center;
    align-items: center;
}
.redesociais img{
    width: 3rem;
    height: 3rem;
} #instaicon{
    width: 2rem;
    height: 2rem;
}
.redesociais img:hover{
    width: 3.1rem;
}
#instaicon:hover{
    width: 2.1rem;
}

/*MEDIAS CELULARES*/
@media (max-width: 450px){
    body {
        background-repeat: repeat;
        
    }
    .conteudo{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .user-info-conteiner{
        margin: 0;
    }
    .links{
        margin-right: 10%;
    }
    .user-info_img{
        width: 9rem;
    }
    .user-info_text{
        font-size: large;
    }
    .ordenlist-link li{
        padding: 1rem 3rem;
    }
    .ordenlist-link a{
        font-size: x-small;
    }
}

/* @media (max-height: 667px){
    body {
        background-repeat: repeat;
        
    }
    .conteudo{
        margin-top: 10rem;
        flex-direction: column;
        gap: 2rem;
        margin-left: 10%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .user-info-conteiner{
        margin: 0;
    }
} */

/*MEDIAS PARA TABLET*/
@media (min-width: 768px) and (max-width: 1024px){
    body{
        background-repeat: repeat;
    }
    .conteudo{
        gap: 0;
    }
}